@using TravelPointSystem.Data.Models.Enums;
@model TravelPointSystem.Web.ViewModels.Reservations.ReservationViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="text-center mt-5 mb-3 h1">@this.ViewData["Title"]</div>

<h4 class="text-center">Reservation</h4>
<hr />
<div class="row">
    <form class="col-md-6 offset-md-3" asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Price" class="control-label"></label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Balance" class="control-label"></label>
            <input asp-for="Balance" class="form-control" />
            <span asp-validation-for="Balance" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Profit" class="control-label"></label>
            <input asp-for="Profit" class="form-control" />
            <span asp-validation-for="Profit" class="text-danger"></span>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="IsAccepted" /> @Html.DisplayNameFor(model => model.IsAccepted)
            </label>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
            </label>
        </div>
        <br />
        <h5>Tourists</h5>
        @for (int i = 0; i < Model.Tourists.Count(); i++)
        {
            <input type="hidden" asp-for="Tourists[i].Id" />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Tourists[i].FullName" class="control-label"></label>
                        <input asp-for="Tourists[i].FullName" class="form-control" />
                        <span asp-validation-for="Tourists[i].FullName" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Tourists[i].TouristType" class="control-label"></label>
                        <select asp-for="Tourists[i].TouristType" asp-items="Html.GetEnumSelectList<TouristType>()" class="form-control">
                        </select>
                        <span asp-validation-for="Tourists[i].TouristType" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Tourists[i].DateOfBirth" class="control-label"></label>
                        <input asp-for="Tourists[i].DateOfBirth" class="form-control" />
                        <span asp-validation-for="Tourists[i].DateOfBirth" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Tourists[i].PersonalNumber" class="control-label"></label>
                        <input asp-for="Tourists[i].PersonalNumber" class="form-control" />
                        <span asp-validation-for="Tourists[i].PersonalNumber" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Tourists[i].PassportNumber" class="control-label"></label>
                        <input asp-for="Tourists[i].PassportNumber" class="form-control" />
                        <span asp-validation-for="Tourists[i].PassportNumber" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Tourists[i].PhoneNumber" class="control-label"></label>
                        <input asp-for="Tourists[i].PhoneNumber" class="form-control" />
                        <span asp-validation-for="Tourists[i].PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <hr />
        }
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>

