/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

html {
    position: relative;
    min-height: 100%;
}


/*Navigation bar settings*/

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.main-navbar a {
    border-bottom: 2px solid transparent;
}

    .main-navbar a.nav-link-hover:hover {
        border-bottom: 2px solid orange;
    }

    .main-navbar a.nav-link-hover:active {
        border-bottom: 2px solid orange;
    }

/*DropDown in navbar*/

#dropdownMenuButton {
    background-color: white;
    color: black;
}
#dropdownMenuButton:hover {
    background-color: ghostwhite;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}


main {
    padding-top: 70px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}


/*Home page settings*/

.home-banner-container {
    height: 400px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/Venice-Banner.jpg);
    background-size: cover;
}

.home-banner-join-buttons .btn-link {
    font-size: 20px;
    font-weight: 600;
}

.home-banner-join-buttons .btn-primary {
    font-size: 18px;
}

.home-carousel-products .card img {
    height: 400px;
}


/*About page settings*/

.about-us-cards .card, .about-us-benefits-cards .card {
    height: 250px;
}

    .about-us-cards .card img {
        width: 17%;
        height: 67px;
    }

    .about-us-benefits-cards .card img {
        width: 20%;
        height: 70px;
    }


/*Privacy page settings*/

.privacy-banner-container {
    height: 400px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/PrivacyPolicy.jpg);
    background-size: cover;
}

/*Error pages settings*/

.four-zero-four-bg {
    height: 400px;
    background: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    background-repeat: no-repeat;
    background-position: center;
}

.five-zero-zero-bg {
    height: 500px;
    background: url(/img/Dead-Emoji-Emotion-Face-Expression-Feeling_1-512.png);
    background-repeat: no-repeat;
    background-position: center;
}

/*Hotels Pages*/

#card-img-cover {
    object-fit: cover;
    height: 190px;
}

.hotel-page-img {
    object-fit: cover;
    height: 400px;
}
