@{
    ViewData["Title"] = "About us";
}

<div class="my-5 h1 text-center">@this.ViewData["Title"]</div>

<div class="card-deck text-center about-us-cards">
    <div class="card pt-3 company-information-card">
        <img class="card-img-top mx-auto d-block" src="~/img/CompanyInformation.png">
        <div class="card-body">
            <h5 class="card-title">Our company</h5>
            <p class="card-text">Travel Point started in 2020 as part of Travel Point Ltd., a growing travel company with many years of experience in the industry.</p>
        </div>
    </div>
    <div class="card pt-3 system-card">
        <img class="card-img-top mx-auto d-block" src="~/img/OurSystem.png">
        <div class="card-body">
            <h5 class="card-title">Our system</h5>
            <p class="card-text">Travel Point is an online reservation system offering hotel reservations, organized trips, bus and plane tickets.</p>
        </div>
    </div>
    <div class="card pt-3 mission-card">
        <img class="card-img-top mx-auto d-block" src="~/img//OurMission.png">
        <div class="card-body">
            <h5 class="card-title">Our mission</h5>
            <p class="card-text">Travel Point to be the easy and preferred business solution in the field of travel services. The system should be developed and enriched, following the world trends in the industry.</p>
        </div>
    </div>
</div>

<div class="h2 my-5 font-weight-light text-center">Benefits</div>

<div class="card-deck text-center about-us-benefits-cards">
    <div class="card pt-3 first-benefit-card">
        <img class="card-img-top mx-auto d-block" src="~/img/OkIcon.png">
        <div class="card-body">
            <p class="card-text">Two hundred travel companies trust us!</p>
        </div>
    </div>
    <div class="card pt-3 second-benefit-card">
        <img class="card-img-top mx-auto d-block" src="~/img/OkIcon.png">
        <div class="card-body">
            <p class="card-text">Integrated 30 оf the leading wholesalers!</p>
        </div>
    </div>
    <div class="card pt-3 third-benefit-card">
        <img class="card-img-top mx-auto d-block" src="~/img/OkIcon.png">
        <div class="card-body">
            <p class="card-text">Special offers!</p>
        </div>
    </div>
</div>

