@{
    this.ViewData["Title"] = "Privacy Policy";
}


<div class="row privacy-banner-container mb-5 align-items-center text-white text-center">
    <div class="col-md-12 privacy-banner-title">
        <div class="h1 font-weight-bold">@this.ViewData["Title"]</div>
        <div class="h3 font-weight-light">Please carefully read the text below.</div>
    </div>
</div>

<div class="privacy-text-container">
    <h4>1. Terms of Use</h4>
    <p class="py-2">Travel Point Ltd. provides users with an Internet-based information platform for online booking and purchase of travel services.</p>
    <p class="py-2">When filling in the registration form, the user is obliged to provide complete and correct data, as well as to update them within 5 days of each change.</p>
    <p class="py-2">In case of change of the general conditions, each registered user is given, through the information system of the site, an opportunity to get acquainted with the new general conditions.</p>

    <h4>2. Prices and conditions for online booking</h4>
    <p class="py-2">The use of the reservation system by users is free. You hereby declare that you voluntarily provide the necessary personal data to make a reservation and provide tourist services.</p>
    <p class="py-2">Each confirmed reservation must be paid within seven days.</p>
    <p class="py-2">Each confirmed reservation must be paid within twenty days before it is made.</p>
    <p class="py-2">Travel Point Ltd. is not responsible in cases of lower prices announced at the reception of a hotel than the prices announced in our system.</p>
    <p class="py-2">In case the user has not made a payment or has violated the payment deadlines, Travel Point Ltd. has the right to cancel the reservation. In this case, Travel Point Ltd. is not liable to the end customer and does not owe compensation or penalties.</p>
    <p class="py-2">It is the responsibility of the user to check his reservation and to monitor the compliance of all confirmed parameters.</p>

    <h4>3. Protection of personal data</h4>
    <p class="py-2">Travel Point Ltd. in its capacity of personal data controller processes personal data that users provide when visiting our reservation system in accordance with the regulations for personal data protection.</p>
    <p class="py-2">Travel Point Ltd. as a trader guarantees to its users the confidentiality of the provided personal data. The latter will not be used, provided or brought to the attention of third parties.</p>
    <p class="py-2">In addition to data about their employees / representatives, users will provide to Travel Point Ltd. only personal data of customers who have given their explicit consent to provide their data.</p>
    <p class="py-2">When using the internet reservation system, the user must enter the personal data necessary for the successful booking of the respective tourist service.</p>
    <p class="py-2">The user has the right to access and correct his personal data processed by Travel Ltd., including requesting their deletion and updating, to prohibit their presentation to third parties and others.</p>

    <h4>4. Change of conditions of use</h4>
    <p class="py-2">`Travel Point Ltd. reserves the right to change the conditions and instructions under which the reservation system offers travel services in respect of future contracts for mediation.</p>
    <p class="py-2">In case of violation of these terms of use or reasonable suspicion that there is a violation or intent to abuse, at any time "Travel Point" Ltd. has the right to exclude and deprive of use the user by seeking responsibility from him.</p>
</div>