
@{
    ViewData["Title"] = "Internal Server Error 500";
}

    <div class="text-center">
        <div class="mt-5 mb-3 h1 four-zero-four-title"> Ooops...@ViewData["Title"]</div>
        <div class="h3 font-weight-light pb-5 five-zero-zero-text">Sorry for the inconvenience, we're working on it.</div>
        <div class="five-zero-zero-bg">
        </div>
    </div>

