
@{
    ViewData["Title"] = "Not Found Error 404";
}

<div class="align-items-center text-center four-zero-four">
    <div class="my-5 h1 four-zero-four-title">
        Ooops...@ViewData["Title"]
    </div>
    <div class="four-zero-four-bg">
    </div>
    <div class="four-zero-four-text">
        <h2>
            Look like you're lost
        </h2>
        <p>The page you are looking for not avaible!</p>
        <a href="/" class="btn btn-secondary btn-lg active">Go to Home</a>
    </div>
</div>










