@using TravelPointSystem.Data.Models.Enums;
@model TravelPointSystem.Web.ViewModels.OrganizedTrips.OrganizedTripViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="text-center mt-5 mb-3 h1">@this.ViewData["Title"]</div>

<h4 class="text-center">OrganizedTrip</h4>
<hr />
<div class="row">
    <form class="col-md-6 offset-md-3" asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ImageUrl" class="control-label"></label>
            <input asp-for="ImageUrl" class="form-control" />
            <span asp-validation-for="ImageUrl" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PricePerPerson" class="control-label"></label>
            <input asp-for="PricePerPerson" class="form-control" />
            <span asp-validation-for="PricePerPerson" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DepartureDateTime" class="control-label"></label>
            <input asp-for="DepartureDateTime" class="form-control" />
            <span asp-validation-for="DepartureDateTime" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ReturnDateTime" class="control-label"></label>
            <input asp-for="ReturnDateTime" class="form-control" />
            <span asp-validation-for="ReturnDateTime" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DestinationId" class="control-label"></label>
            <select asp-for="DestinationId" class="form-control" asp-items="ViewBag.DestinationId"></select>
            <span asp-validation-for="DestinationId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="HotelId" class="control-label"></label>
            <select asp-for="HotelId" class="form-control" asp-items="ViewBag.HotelId"></select>
            <span asp-validation-for="HotelId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Transport" class="control-label"></label>
            <select asp-for="Transport" asp-items="Html.GetEnumSelectList<TransportType>()" class="form-control"></select>
            <span asp-validation-for="Transport" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="AvailableSeats" class="control-label"></label>
            <input asp-for="AvailableSeats" class="form-control" />
            <span asp-validation-for="AvailableSeats" class="text-danger"></span>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
            </label>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>

