@model TravelPointSystem.Web.ViewModels.Flights.FlightsByDestinationsIdInputModel
@{
    this.ViewData["Title"] = "Flights";

    var startDestinationItems = Model.StartDestinationItems.Select(x => new SelectListItem(x.Value, x.Key));
    var endDestinationItems = Model.EndDestinationItems.Select(x => new SelectListItem(x.Value, x.Key));
}

<div class="text-center mt-5 mb-3 h1">@this.ViewData["Title"]</div>

<form method="post" class="col-md-6 offset-md-3">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="StartPointId" class="control-label"></label>
        <select asp-for="StartPointId" class="form-control" asp-items="startDestinationItems"></select>
        <span asp-validation-for="StartPointId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EndPointId" class="control-label"></label>
        <select asp-for="EndPointId" class="form-control" asp-items="endDestinationItems"></select>
        <span asp-validation-for="EndPointId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NumberOfTourists" class="control-label"></label>
        <input asp-for="NumberOfTourists" class="form-control" />
        <span asp-validation-for="NumberOfTourists" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>
